h1{
  text-align: center;
  font-family: 'Arvo', serif;
}

.art{
  margin:auto;
}
td{
  background-color: black;
  height:300px;
  width: 150px;
  border: 6px solid white;
}

#one{
  background-color: #9AD5CA;
}

#two{
  background-color: #ACDDE7;
}

#three{
  background-color: #A379C9;
}

#four{
  background-color: #B744B8;
}

#five{
  background-color: #ADB9E3;
}
